<div class="default-footer">
</div>

 <% if @unshow_activity_footer == false %>
  <div class="footer">
    <div class="footer-information">
      <strong>$<%= Activity.find(params[:id]).price_per_person %> per person</strong>
      <% if Activity.find(params[:id]).reviews.length > 0 %>
      <div>
        <% ratings = [] %>
        <% Activity.find(params[:id]).reviews.each do |review| %>
          <% ratings << review.rating %>
        <% end %>
        <% (ratings.inject{ |sum, el| sum + el }.to_f / ratings.size).round().times do %>
          <i class="fas fa-star"></i>
        <% end %>
        (<%= pluralize( ratings.length, "review" ) %>)
      </div>
      <% end %>
    </div>
    <div>
      <% if current_host == Activity.find(params[:id]).host %>
        <%= link_to "Edit Activity", edit_host_activity_path(Activity.find(params[:id]), current_host), class: "btn-navbar" %>
      <% elsif current_user.nil? %>
        <%= link_to "Show Dates", new_user_session_path, class: "btn-navbar" %>
      <% else %>
        <%= link_to "Show Dates", new_activity_user_booking_path(Activity.find(params[:id]), current_user), class: "btn-navbar" %>
      <% end %>
    </div>
  </div>
<% end %>
