<h1>Welcome <%= @host.first_name %>!</h1>

<%= link_to "Set your available dates", host_available_dates_path(@host) %>

<h2>Your active activities:</h2>
<div class="activities-container">
  <div class="row">
    <% @host.activities.each do |activity| %>
    <div class="col-md-6 col-lg-4">
      <div class="card-trip">
        <img src="https://source.unsplash.com/1600x900/?<%= activity.name %><%= activity.city %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to activity.name.capitalize, activity_path(activity) %></h2>
            <p><%= activity.city %></p>
          </div>
          <div>
            <h2 class="card-trip-pricing"><%= link_to "Edit", edit_host_activity_path(@host, activity) %></h2>
            <h2 class="card-trip-pricing"><%= link_to "Delete", host_activity_path(@host, activity), method: :delete, data: {:confirm => 'Are you sure?'} %></h2>
          <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<p><%= link_to "Add a new activity!", new_host_activity_path(@host), class: "btn-main" %></p>

<h2>Upcoming bookings</h2>
<% @host.bookings.each do |booking| %>
  <% if booking.date > Date.today %>
    <div class="card-product">
      <img src=<%= "https://source.unsplash.com/1600x900/?#{booking.activity.name}" %> />
      <div class="card-product-infos">
        <h2>Guest: <%= booking.user.first_name %> <%= booking.user.last_name %></h2>
        <p>Date: <%= booking.date %> || Group Size: <%= booking.group_size %></p>
        <p><%= link_to booking.activity.name.capitalize, activity_path(booking.activity) %> || <%= booking.activity.city %></p>
        <p><%= link_to "Cancel Booking", activity_user_booking_path(booking.activity, booking.user, booking), method: :delete,  data: {:confirm => 'Are you sure?'} %></p>
      </div>
    </div>
  <% end %>
<% end %>
<h2>Booking History</h2>
<% @host.bookings.each do |booking| %>
  <% if booking.date <= Date.today %>
    <div class="card-product">
      <img src=<%= "https://source.unsplash.com/1600x900/?#{booking.activity.name}" %> />
      <div class="card-product-infos">
        <h2>Guest: <%= booking.user.first_name %> <%= booking.user.last_name %></h2>
        <p>Date: <%= booking.date %> || Group Size: <%= booking.group_size %></p>
        <p><%= link_to booking.activity.name.capitalize, activity_path(booking.activity) %> || <%= booking.activity.city %></p>
      </div>
    </div>
  <% end %>
<% end %>
