<h1>Welcome <%= @host.first_name %>!</h1>
<p><%= link_to "Add a new activity!", new_host_activity_path(@host), class: "btn-main" %></p>
<h2>Your active activities:</h2>
<% @host.activities.each do |activity| %>
<p><%= link_to activity.name.capitalize, activity_path(activity) %> || Edit || Delete </p>
<% end %>
<h2>Upcoming bookings</h2>
<% @host.bookings.each do |booking| %>
  <% if booking.date > Date.today %>
    <div class="card-product">
      <img src=<%= "https://source.unsplash.com/1600x900/?#{booking.activity.name}" %> />
      <div class="card-product-infos">
        <h2>Guest: <%= booking.user.first_name %> <%= booking.user.last_name %></h2>
        <p>Date: <%= booking.date %> || Group Size: <%= booking.group_size %></p>
        <p><%= link_to booking.activity.name.capitalize, activity_path(booking.activity) %> || <%= booking.activity.city %></p>
        <p><%= link_to "Cancel Booking", activity_user_booking_path(booking.activity, booking.user, booking), method: :delete,  data: {:confirm => 'Are you sure?'} %></p>
      </div>
    </div>
  </div>
<% end %>
<% end %>

