<h1>Your Bookings</h1>


<% if @bookings.empty? %>
<div class="empty-booking">
  <p>You currently have no bookings! Click <%= link_to "here", activities_path %> to view all activities</p>
</div>
<% end %>

<% previous = [] %>

<div class="d-flex justify-content-between mt-4">

<div class="mr-4 w-100">
<h3 class="mb-4">Upcoming Bookings</h1>
  <% @bookings.each do |booking| %>
  <% if booking.date > Date.today %>
  <div class="card-product">
    <img src=<%= "https://source.unsplash.com/1600x900/?#{booking.activity.name}" %> />
    <div class="card-product-infos">
      <h2><%= link_to "#{booking.activity.name.capitalize} with #{booking.activity.host.first_name}" , activity_path(booking.activity) %></h2>
      <p>Date: <%= booking.date %></p>
      <p><%= booking.activity.city %></p>
      <p><%= link_to "Cancel Booking", activity_user_booking_path(booking.activity, booking.user, booking), method: :delete,  data: {:confirm => 'Are you sure?'} %></p>
    </div>
  </div>
  <% else %>
  <% previous << booking %>
  <% end %>
  <% end %>
<%= link_to "Make Another Booking", activities_path, class: 'btn-main' %>
</div>

<% unless previous.empty? %>
<div class="ml-4 w-100">
  <h3 class="mb-4">Booking History</h1>
  <% @bookings.first(5).each do |booking| %>
    <% if booking.date <= Date.today %>
      <div class="card-product">
        <img src=<%= "https://source.unsplash.com/1600x900/?#{booking.activity.name}" %> />
        <div class="card-product-infos">
          <h2><%= link_to "#{booking.activity.name.capitalize} with #{booking.activity.host.first_name}" , activity_path(booking.activity) %></h2>
          <p>Date: <%= booking.date %></p>
          <p><%= booking.activity.city %></p>
          <p><%= link_to "Leave a Review!", new_user_booking_review_path(booking.user, booking) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
</div>

