<h1>Your bookings</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Activity</th>
    <th>Host</th>
    <th>Location</th>
    <th></th>
  </tr>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.date %></td>
      <td><%= booking.activity.name %></td>
      <td><%= booking.host.first_name %></a></td>
      <td><%= booking.activity.location %></a></td>
      <td><%= link_to "Cancel Booking", activity_user_booking_path(booking.activity, booking.user, booking), method: :delete, data: {confirm: "Are you sure?"}  %></td>
      <% if booking.date > Date.today %>
        <td><%= link_to "Add Review", new_user_booking_review_path(booking.user, booking) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
