<h2> You are booking <%= @activity.name %> with <%= @activity.host.first_name %> </h2>

<%= simple_form_for [@activity, @user, @booking] do |f| %>
  <%= f.input :date , as: :date %>
  <%= f.button :submit %>
<% end %>
