<div class="hidden">
  <% @bookings.each do |booking| %>
    <div class="booked-date"><%= booking.date %></div>
  <% end %>
  <% @available_dates.each do |date| %>
    <h5 class="available-date"><%= date.date %></h5>
  <% end %>
</div>
<div class="legend d-flex">
  <h5>Legend:</h5>
  <div class="host-booked">Booked</div>
  <div class="host-available">Available</div>
</div>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>
<form class="d-flex justify-content-center" method='post' action=<%= host_available_dates_path(@host) %>>
  <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %> />

  <input class='dates-post' name='host[dates]' type = "text" style ='display: none;'>
  <input class="btn btn-main" type="submit" >
</form>

<%= link_to host_path(@host) do %>
  <p class="back-button"><i class="fas fa-chevron-left"></i> Back to Dashboard</p>
<% end %>


<%= javascript_pack_tag "host-calendar" %>
