<h1>Edit activity details</h1>

<%= simple_form_for([@host, @activity]) do |f| %>
  <%= f.input :name %>
  <%= f.input :city %>
  <%= f.input :price_per_person %>
  <%= f.input :description %>
  <%= f.input :max_group_size %>
  <%= f.input :duration %>
  <%= f.submit "Edit Activity", class: "btn btn-primary" %>
<% end %>
<%= link_to host_path(@host) do %>
  <p class="back-button"><i class="fas fa-chevron-left"></i> Back to Dashboard</p>
<% end %>
