<h1 class="text-center">Find an Experience</h1>

<div class="scrolling-wrapper">
  <% @cities.each do |city| %>
    <div class="city-card" id="<%= city.downcase %>">
      <h4 class="city-name"><%= city.upcase %></h4>
      <img src="https://source.unsplash.com/200x300/?<%= city %>" >
    </div>
  <% end %>
</div>

<br>

<div class="tag-container" id="tag-list">
  <% @tags.each do |tag| %>
  <button class="tag" data-tag= "<%= tag.name %>"><%= tag.name.gsub("-"," ").capitalize %></button>
  <% end %>
</div>

<br>

<div class="sort-container">
  Sort by:
  <button id="price-ascending" class="sort">Lowest Price First</button>
  <button id="price-descending" class="sort">Highest Price First</button>
</div>


<div class="activities-container">
  <div class="row">
    <% @activities.each do |activity| %>
    <div class="col-md-6 col-lg-4 activity <% activity.tags.each do |tag| %><%= tag.name %> <% end %>" data-price="<%= activity.price_per_person %>" data-city="<%= activity.city.downcase %>" style="display: block;">
      <div class="card-trip">
        <img src="https://source.unsplash.com/1600x900/?<%= activity.name %><%= activity.city %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to activity.name.capitalize, activity_path(activity) %></h2>
            <p><%= activity.city %></p>
          </div>
          <h2 class="card-trip-pricing">$<%= activity.price_per_person %> per person</h2>
          <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<!-- <script>
  const tags = document.querySelectorAll(".tag");

  tags.forEach((tag) => {
    tag.addEventListener("click", (event) =>{
      if (event.currentTarget.classList.contains("active")) {
        tag.classList.remove("active");
        showTagResults();
      } else {
        tag.classList.add("active");
        showTagResults();
      };
    });
  });


  const showTagResults = () => {
    const activeTags = Array.from(document.querySelectorAll(".tag.active")).map(x => x.dataset.tag);
    if (activeTags.length === 0) {
      const allActivities = document.querySelectorAll(".activity");
      allActivities.forEach((activity) => {activity.style.display = "block"});
    } else {
      const allActivities = document.querySelectorAll(".activity");
      allActivities.forEach((activity) => {activity.style.display = "none"});
      const selectedActivities = document.querySelectorAll(`.activity.${activeTags.join('.')}`);
      selectedActivities.forEach((activity) => {activity.style.display = "block"});
    };
  }

  // code for sort by price
  const ascending = document.getElementById("ascending");
  const descending = document.getElementById("descending");
  ascending.addEventListener("click", (event) => {
    if (event.currentTarget.classList.contains("active")) {
      event.currentTarget.classList.remove("active");
    } else {
      event.currentTarget.classList.add("active");
      descending.classList.remove("active");
      sortByAscending();
    };
  });

  descending.addEventListener("click", (event) => {
    if (event.currentTarget.classList.contains("active")) {
      event.currentTarget.classList.remove("active");
    } else {
      event.currentTarget.classList.add("active");
      ascending.classList.remove("active");
      sortByDescending();
    };
  });

  const sortByAscending = () => {
    let toSort = document.querySelector('.activities-container').children;
    toSort = Array.prototype.slice.call(toSort, 0);
    toSort.sort(function(a, b) {
      let aord = +parseInt(a.dataset.price);
      let bord = +parseInt(b.dataset.price);
      return aord - bord;
    });
    let parent = document.querySelector('.activities-container');
    parent.innerHTML = "";
    for(let i = 0, l = toSort.length; i < l; i++) {
      parent.appendChild(toSort[i]);
    }
  };

  const sortByDescending = () => {
    let toSort = document.querySelector('.activities-container').children;
    toSort = Array.prototype.slice.call(toSort, 0);
    toSort.sort(function(a, b) {
      let aord = +parseInt(a.dataset.price);
      let bord = +parseInt(b.dataset.price);
      return bord - aord;
    });
    let parent = document.querySelector('.activities-container');
    parent.innerHTML = "";
    for(let i = 0, l = toSort.length; i < l; i++) {
      parent.appendChild(toSort[i]);
    }
  };

</script> -->
