<div id="location"></div>

<h2 class="text-center" style="margin-bottom: 60px;" dataset-spanish = "Elija su ciudad preferida" dataset-english= "Choose your Location">1. Choose your Location</h2>

<div class="choose-location">
  <div class="scrolling-wrapper">
    <% @cities.sort.each do |city| %>
      <div class="city-card" id="<%= city.downcase %>">
        <h4 class="city-name"><%= city.upcase %></h4>
        <img src="https://source.unsplash.com/250x375/?<%= city %>" >
      </div>
    <% end %>
  </div>
</div>
<br>

<% if false %>
  <div class="tag-container" id="tag-list">
    <% @tags.each do |tag| %>
    <button class="tag" data-tag= "<%= tag.name %>"><%= tag.name.gsub("-"," ").capitalize %></button>
    <% end %>
  </div>
<% end %>

<div id="scroll-to-category"></div>

<h2 class="text-center" style="margin-bottom: 60px;" dataset-spanish = "Elija su categoría preferida" dataset-english="Choose your Category">2. Choose your Category</h2>

<div id="choose-category">
  <div class="scrolling-wrapper">
    <% @tags.each do |tag| %>
      <div class="category-card" data-tag= "<%= tag.name %>">
        <h4 class="category-name" ><%= tag.name.gsub("-"," ").upcase %></h4>
        <img src="https://source.unsplash.com/250x375/?<%= tag.name %>" >
      </div>
    <% end %>
  </div>
</div>
<br>

<h3 id="display-message" style="display: none;">No activites found for selected filter. Please select another category filter.</h3>
<div id="scroll-to-sort"></div>

<div class="sort-container text-center" id="sort-options">
  Sort by:
  <button id="price-ascending" class="sort">Lowest Price First</button>
  <button id="price-descending" class="sort">Highest Price First</button>
</div>

<div class="activities-container">
  <div class="row">
    <% @activities.each do |activity| %>
    <div class="col-md-6 col-lg-4 activity <% activity.tags.each do |tag| %><%= tag.name %> <% end %>" data-price="<%= activity.price_per_person %>" data-city="<%= activity.city.downcase %>" style="display: block;">
      <div class="card-trip">
        <img src="https://source.unsplash.com/1600x900/?<%= activity.name %><%= activity.city %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to activity.name.capitalize, activity_path(activity) %></h2>
            <p><%= activity.city %></p>
          </div>
          <h2 class="card-trip-pricing">$<%= activity.price_per_person %> per person</h2>
          <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<script>
  // code for tags
const beginButton = document.getElementById("begin-btn");
beginButton.addEventListener("click", (event) => {
  document.getElementById("location").scrollIntoView({behavior: "smooth", block: "start"});
});

const cities = document.querySelectorAll(".city-card");

cities.forEach((city) => {
  city.addEventListener("click", (event) =>{
    if (event.currentTarget.classList.contains("active")) {
      city.classList.remove("active");
      showSelectedResults();
    } else {
      disableAllActiveCities();
      city.classList.add("active");
      showSelectedResults();
      document.getElementById("scroll-to-category").scrollIntoView({behavior: "smooth", block: "start"});
    };
  });
});

const disableAllActiveCities = () => {
  cities.forEach((city) => {
    city.classList.remove("active");
  })
};

const categories = document.querySelectorAll(".category-card");

categories.forEach((category) => {
  category.addEventListener("click", (event) =>{
    if (event.currentTarget.classList.contains("active")) {
      category.classList.remove("active");
      showSelectedResults();
      document.getElementById('display-message').style.display = "none";
    } else {
      disableAllActiveTags();
      category.classList.add("active");
      showSelectedResults();
      const displayedActivities = document.querySelectorAll(`.activity[style='display: block;']`);
      if (displayedActivities.length > 0) {
      document.getElementById('display-message').style.display = "none";
      document.getElementById("scroll-to-sort").scrollIntoView({behavior: "smooth", block: "start"});
      } else {
        document.getElementById('display-message').style.display = "block";
      };
    };
  });
});

const disableAllActiveTags = () => {
  categories.forEach((category) => {
    category.classList.remove("active");
  })
};



const showSelectedResults = () => {
  const activeCity = document.querySelector(".city-card.active");
  const activeCategories = Array.from(document.querySelectorAll(".category-card.active")).map(x => x.dataset.tag);
  if (activeCity && activeCategories.length > 0) {
    const selectedActivities = document.querySelectorAll(`.activity.${activeCategories.join('.')}[data-city=${activeCity.id}]`);
    const allActivities = document.querySelectorAll('.activity');
    allActivities.forEach((activity) => {
      activity.style.display = "none"
    });
    selectedActivities.forEach((activity) => {
      activity.style.display = "block"
    });
  } else if (activeCity && activeCategories.length === 0) {
    const selectedActivities = document.querySelectorAll(`.activity[data-city=${activeCity.id}]`);
    const allActivities = document.querySelectorAll('.activity');
    allActivities.forEach((activity) => {
      activity.style.display = "none"
    });
    selectedActivities.forEach((activity) => {
      activity.style.display = "block"
    });
  } else if (!activeCity && activeCategories.length > 0) {
    const selectedActivities = document.querySelectorAll(`.activity.${activeCategories.join('.')}`);
    const allActivities = document.querySelectorAll('.activity');
    allActivities.forEach((activity) => {
      activity.style.display = "none"
    });
    selectedActivities.forEach((activity) => {
      activity.style.display = "block"
    });
  } else {
    const allActivities = document.querySelectorAll('.activity');
    allActivities.forEach((activity) => {
      activity.style.display = "block"
    });
  }
};


// code for sort by price
const ascending = document.getElementById("price-ascending");
const descending = document.getElementById("price-descending");
ascending.addEventListener("click", (event) => {
  if (event.currentTarget.classList.contains("active")) {
    event.currentTarget.classList.remove("active");
  } else {
    event.currentTarget.classList.add("active");
    descending.classList.remove("active");
    sortByAscending();
  };
});

descending.addEventListener("click", (event) => {
  if (event.currentTarget.classList.contains("active")) {
    event.currentTarget.classList.remove("active");
  } else {
    event.currentTarget.classList.add("active");
    ascending.classList.remove("active");
    sortByDescending();
  };
});

const sortByAscending = () => {
  let toSort = document.querySelector('.activities-container .row').children;
  toSort = Array.prototype.slice.call(toSort, 0);
  toSort.sort(function(a, b) {
    let aord = +parseInt(a.dataset.price);
    let bord = +parseInt(b.dataset.price);
    return aord - bord;
  });
  let parent = document.querySelector('.activities-container .row');
  parent.innerHTML = "";
  for(let i = 0, l = toSort.length; i < l; i++) {
    parent.appendChild(toSort[i]);
  }
};

const sortByDescending = () => {
  let toSort = document.querySelector('.activities-container .row').children;
  toSort = Array.prototype.slice.call(toSort, 0);
  toSort.sort(function(a, b) {
    let aord = +parseInt(a.dataset.price);
    let bord = +parseInt(b.dataset.price);
    return bord - aord;
  });
  let parent = document.querySelector('.activities-container .row');
  parent.innerHTML = "";
  for(let i = 0, l = toSort.length; i < l; i++) {
    parent.appendChild(toSort[i]);
  }
};

const checkEmptyResults = () => {
  const displayedActivities = document.querySelectorAll(`.activity[style='display: block;']`)
  if (displayedActivities.length === 0) {
    alert("No results for selected filters. Please remove a filter.");
  };
};

</script>

