<h1><%= @activity.name %></h1>
<h3>Hosted by <%= @activity.host.first_name %> in <%= @activity.location %></h3>

<h4>Activity Description:</h4>
<p><%= @activity.description %></p>
<p><strong>Price: </strong>$<%= @activity.price_per_day %></p>
<%= link_to "Book Now!", activities_path %>
